* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-accent-color: #F88500;
    --main-text-color: #333333;
    --main-dark-color: #202328;
    --main-deep-color: #171A1A;
    --main-dark-header-color: #6F7A8B;
    --main-dark-div-color: #2D3038;
    --main-light-bg-color: #FAFAFA;
    --main-light-disabled-color: #E4E6E8;
    --main-light-div-color: #E7E7E8;
    --main-middle-gray-color:rgba(111, 122, 139, 0.75);
    --main-text-light-color: #999999;
}

html {
    font-family: ;
}

.header__bottom-line {
    margin: 0 auto;
    width: 95.5%;
    height: 1px;
    background-color: red;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.header {
    background-color: var(--main-dark-color);
}

.header__container {
    padding: 40px 80px 27px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    padding-left: 22px;
    color: #ffffff;
    opacity: 0.45;
}

.logo__icon {
    position: absolute;
    top: 0;
    left: 0;
}

.logo__title {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo__text {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.24;
    text-transform: none;
}
