* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-accent-color: #F88500;
    --main-text-color: #333333;
    --main-dark-color: #202328;
    --main-deep-color: #171A1A;
    --main-dark-header-color: #6F7A8B;
    --main-dark-div-color: #2D3038;
    --main-light-bg-color: #FAFAFA;
    --main-light-disabled-color: #E4E6E8;
    --main-light-div-color: #E7E7E8;
    --main-middle-gray-color:rgba(111, 122, 139, 0.75);
    --main-text-light-color: #999999;
}

html {
    font-family:'Raleway', Geneva, Verdana, sans-serif ;
}

.header__bottom-line {
    margin: 0 auto;
    width: 95.5%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.header__container {
    padding: 40px 80px 27px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__menu-link {
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.header__menu-link:hover {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(196, 196, 196, 0.2);
}

.logo {
    position: relative;
    padding-left: 22px;
    color: #ffffff;
}

.logo__icon {
    position: absolute;
    top: 0;
    left: 0;
}

.logo__title {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo__text {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.9px;
    text-transform: none;
}

.header__logo .logo__icon {
    color: var(--main-accent-color);
}

.header__logo .logo__title {
    color: #ffffff;
}

.header__logo .logo__text {
    color: #ffffff;
    opacity: 0.45;
}

.header__social {
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 70px;
    background-color: rgba(196, 196, 196, 0.25);
}

.header__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.hero {
    /* height: 650px; */
    background-color: var(--main-dark-color);
}

.hero__container {
    padding: 10px;
    height: 650px;
}

.hero__slide {
    border-radius: 10px;
    overflow: hidden;
}

.hero__slider {
    height: 100%;
}

.hero__slide-wrapper {
    position: relative;
}

.hero__slide-img {
    width: 100%;
    height: 100%;
    filter: contrast(1.50);
    object-fit: cover;
}

.hero__slide-img-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.15;
    background-color: var(--main-dark-color);
}

.slider-control {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:36.32px 33.5px 36.32px 28.5px ;
}

.hero__slider-control {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 440px;
    height: 90px;
    gap: 40px;
    border-top-left-radius: 10px;
    background-color: var(--main-dark-color);
    z-index: 1;
}

.trust {
    background-color: var(--main-deep-color);
    height: 249px;
}

.trust__container {
    padding: 54px 20px 53px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-dark-header-color);
}

.trust__container-content {
    height: 142px;
    width: 740px;
}

.trust__header {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.trust__line {
    position: relative;
    left: -260px;
    margin: 15px auto 16px;
    width: 221px;
    height: 1px;
    background-color: var(--main-dark-div-color);
}

.container__trust-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    font-size: 14px;
}

.item-num {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.trust__container-right {
    width: 360px;
    height: 161px;
    position: relative;
}

.right-text {
    font-size: 14px;
}

.right-phone {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    margin: 6px 0px 16px;
}