* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-accent-color: #F88500;
    --main-text-color: #333333;
    --main-dark-color: #202328;
    --main-deep-color: #171A1A;
    --main-dark-header-color: #6F7A8B;
    --main-dark-div-color: #2D3038;
    --main-light-bg-color: #FAFAFA;
    --main-light-disabled-color: #E4E6E8;
    --main-light-div-color: #E7E7E8;
    --main-middle-gray-color:rgba(111, 122, 139, 0.75);
    --main-text-light-color: #999999;
}

html {
    font-family:'Raleway', Geneva, Verdana, sans-serif ;
}

.header__bottom-line {
    margin: 0 auto;
    width: 95.5%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__container {
    padding: 40px 80px 27px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__menu-link {
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.header__menu-link:hover {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(196, 196, 196, 0.2);
}

.logo {
    position: relative;
    padding-left: 22px;
    color: #ffffff;
}

.logo__icon {
    position: absolute;
    top: 0;
    left: 0;
}

.logo__title {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo__text {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.9px;
    text-transform: none;
}

.header__logo .logo__icon {
    color: var(--main-accent-color);
}

.header__logo .logo__title {
    color: #ffffff;
}

.header__logo .logo__text {
    color: #ffffff;
    opacity: 0.45;
}

.header__social {
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 70px;
    background-color: rgba(196, 196, 196, 0.25);
}

.header__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.hero {
    height: 650px;
    background-color: var(--main-dark-color);
}

.hero__container {
    padding: 10px;
    height: 100%;
}

.hero__container-img {
    border-color: rgba(32, 35, 40, 0.1);
    border-radius: 10px;
}